*{
    padding:0;
    margin:0;
    font-family: Helvetica;
    font-size:14px;
}
/***  HEADER  ***/
.shape-head{
    background-color:#707070;
    height:200px;
    text-align:center;
    padding-top:69px;
    color: #FFFFFF;
}
.shape-top{
    border-top: 100px solid #707070;
    border-left: 1345px solid transparent;
}
.title{
    font-size:40px;
    font-weight: bold;
    letter-spacing: 0px;
}
.subtitle-1{
    font-size:20px;
}
.subtitle-2{
    font-size:14px;
    margin-top: 24px;
}
.div-top-buttons{
    padding-top: 50px;
    display:flex;
    padding-left:22%;
    padding-right:22%;
    justify-content: space-between;
}
.btn{
    text-decoration: none;
    width:160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    padding:10px;
    color:#888888;
    font-size: 14px;
    cursor: pointer;
}
.btn-large{
    width:260px;
    height:39px;
    border: 1px solid #707070;
    border-radius: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding:10px;
    color:#888888;
     cursor: pointer;
    font-size: 16px;
}

/***  FIM HEADER  ***/

/***  MAIN  ***/
main{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
#s-algoritmo{
    display: flex;
    color:#888888;
    justify-content: space-between;
}
.div-help{
    width:60%;
    font-size: 12px;
}
.title-help{
    font-size: 14px;
    margin-bottom:30px;
}
.text-help{
    font-size: 12px;
}
.div-frm{
    width:30%;
}
.frm-join{
    display: grid;
    columns: row;
}
.lbl-frm{
    font-size: 12px;
    color:#888888;
    justify-content: space-around;
}
.frm-join .frm-input{
    text-decoration: none;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height:30px;
    width:100%;
}
.frm-join .btn{
    width:100%;
    height:39px;
    font-size: 16px;
    margin-top: 20px;
}

.section-header{
    display:flex;
    margin-top:70px;
    margin-bottom:50px;
}
.title-section{
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    color: #888888;
    width: 100%;
}
.div-linha{
    width:90%;
    border-top: 1px solid #888888;
}
#product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.produto{ 
    width:200px;
    color: #888888;
    margin-bottom: 39px;
}
.img-product{
    width: 200px;
    height: 150px;
}
.name-product{
    font-size: 14px;
}
.desc-product{
    font-size: 12px;
    margin-top: 10px;
}
.oldprice-product{
    font-size: 12px;
}
.price-product{
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
}
.payment-product{
    font-size: 12px;
    margin-top: 6px;
}
.produto .btn{
    width:100%;
    height:30px;
    margin-top: 16px;
    padding:auto;
}
#s-product{
    justify-content: center;
    text-align:center;
}
#s-product .btn-large{
    margin-left: auto;
    margin-right: auto;
    width:260px;
}

#s-share{
    text-align: center;
    color:#888888;
}
#s-share #frm-share{
    display:flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 39px;
    justify-content:center;
}
#frm-share .frm-input{
    text-decoration: none;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height:30px;
    width:300px;
    margin: 5px;
}
#frm-share .btn-large{
    margin-top: 50px;
}
.break{
    flex-basis: 100%;
    height: 0;
}
/***  FIM MAIN ***/

/***  FOOTER  ***/
.shape-footer{
    background-color:#707070;
    height:100px;
    text-align:center;
    color:#FFFFFF;
    font-size: 12px;
}
.shape-bottom{
    border-bottom: 90px solid #707070;
    border-left: 1345px solid transparent;
}
/***  FIM FOOTER  ***/
