*{
    padding:0;
    margin:0;
    font-family: Helvetica;
}
.shape-head{
    background-color:#707070;
    height:200px;
    text-align:center;
    padding-top:69px;
    color: #FFFFFF;
}
.shape-top{
    border-top: 100px solid #707070;
    border-left: 1345px solid transparent;
}
.title{
    font-size:40px;
    font-weight: bold;
    letter-spacing: 0px;

}
.subtitle-1{
    font-size:20px;
}
.subtitle-2{
    font-size:14px;
    margin-top: 24px;
}
.div-top-buttons{
    padding-top: 50px;
    display:flex;
    padding-left:22%;
    padding-right:22%;
    justify-content: space-between;

}
.shape-footer{
    background-color:#707070;
    height:100px;
    text-align:center;
}
.shape-bottom{
    border-bottom: 90px solid #707070;
    border-left: 1345px solid transparent;
}
.btn{
    text-decoration: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    padding:10px;
    width:160px;
    color:#888888;
    font-size: 14px;
}
main{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
#product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.produto{ 
    width:200px;
}
.img-product{
    width: 200px;
    height: 200px;
}
.oldprice-product{
    font-weight: bold;
}