*{
    padding:0;
    margin:0;
    color:#888888;
}
.shape-head{
    background-color:#707070;
    height:200px;
    text-align:center;
}
.shape-top{
    border-top: 100px solid #707070;
    border-left: 1345px solid transparent;
}
.shape-footer{
    background-color:#707070;
    height:100px;
    text-align:center;
}
.shape-bottom{
    border-bottom: 90px solid #707070;
    border-left: 1345px solid transparent;
}
main{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
#produto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.produto{ 
    width:200px;
}
.img-product{
    width: 200px;
    height: 200px;
}
.oldprice-product{
    font-weight: bold;
}